<span *ngIf="dataState$ | async as dataState">
    <ng-container [ngSwitch]="dataState">
        <ng-container *ngSwitchCase="State.READY">
            <span>READY</span>
            <p>
                {{ messages$ | async | json}}
            </p>
        </ng-container>
        <ng-container *ngSwitchCase="State.PENDING">
            <span>PENDING</span>
        </ng-container>
        <ng-container *ngSwitchCase="State.ERROR">
            <span> {{error$ | async }} </span>
        </ng-container>
    </ng-container>
</span>
<p>
    <button (click)="sendData()">
        sendData
    </button>
</p>
